<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Time Sheet Generator</title>

        <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://npmcdn.com/md-date-time-picker@2.1.0/dist/css/mdDateTimePicker.min.css" integrity="sha384-1SrZx26aHGNgYx7fuIZ+yxXzUqfWfINbKCaJ2hYijzBijMuLc0cUwz6u9K5HOMh9" crossorigin="anonymous">
        
        <link rel="stylesheet" href="main.css">

        <script src="https://npmcdn.com/moment@2.13.0/min/moment.min.js" integrity="sha384-MV8AwEgYXLMw5ZPj4763CSPk+tYGoUZGdwr/+EfkAZ1Dl2rGHxOMpQ1IW7VtyUPn" crossorigin="anonymous"></script>
        <script src="/mdDateTimePicker.js"></script>
        <script src="https://npmcdn.com/angular@1.5.6/angular.min.js" integrity="sha384-yIqa4x9Cpx9ZK4TKjprtQfMzhBQaotZRqdvNR6Y0Ozb+/2TaeBTqxr9ko1tQhSgU" crossorigin="anonymous"></script>
        
        <script src="app.js"></script>
    </head>
    <body ng-controller="pageController as page">
        <div id="input">
            <h1>Time Sheet Generator</h1>
            <span>Enter the start date:</span>

            <br/><br/>

            <input type="text" placeholder="start date..." ng-model="page.startInput" ng-click="page.onDateClick()" id="input-date">
        </div>

        <div id="container">
            <table class="header">
                <tr>
                    <td>
                        <h1>City of Huntsville Police</h1>
                        <span>Officer: _______________________________</span>
                    </td>
                    <td>
                        <h1>Biweekly Time Sheet</h1>
                        <table>
                            <tr>
                                <td><span>Pay period start date:</span></td>
                                <td class="underline"><span>{{page.getPrettyStart()}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Pay period end date:</span></td>
                                <td class="underline"><span>{{page.getPrettyEnd()}}</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table class="data">
                <thead>
                    <td>Day</td>
                    <td>Date</td>
                    <td>Regular<br/>Hours</td>
                    <td>Overtime<br/>Hours</td>
                    <td>Sick<br/>Hours</td>
                    <td>Vacation<br/>Hours</td>
                    <td>Comp.<br/>Hours</td>
                </thead>
                <tr ng-repeat="row in page.getRows()">
                    <td>{{row.day}}</td>
                    <td>{{row.date}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <br/>

            <table class="fields">
                <tr>
                    <td>Comp. hours due</td>
                    <td>_______</td>
                    <td>Sick hours due</td>
                    <td>_______</td>
                    <td>Vacation hours due</td>
                    <td>_______</td>
                </tr>
                <tr>
                    <td>Comp. hours accrued</td>
                    <td>_______</td>
                    <td>Sick hours accrued</td>
                    <td>_______</td>
                    <td>Vacation hours accrued</td>
                    <td>_______</td>
                </tr>
                <tr>
                    <td>Comp. hours taken</td>
                    <td>_______</td>
                    <td>Sick hours taken</td>
                    <td>_______</td>
                    <td>Vacation hours taken</td>
                    <td>_______</td>
                </tr>
                <tr>
                    <td>Comp. hours balance</td>
                    <td>_______</td>
                    <td>Sick hours balance</td>
                    <td>_______</td>
                    <td>Vacation hours balance</td>
                    <td>_______</td>
                </tr>
                <tr class="overtimeRow">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Overtime hours</td>
                    <td>_______</td>
                </tr>
            </table>

            <br/>

            <table class="signatures">
                <tr>
                    <td><h3>Officer's Signature</h3></td>
                    <td>_______________________________</td>
                </tr>
                <tr>
                    <td><h3>Supvervisor's Signature</h3></td>
                    <td>_______________________________</td>
                </tr>
            </table>
        </div>
    </body>
</html>
