* {
    box-sizing: border-box;
}
body {
    background-color: #eee;
    font-family: Calibri, sans-serif;
}

.wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 8.5in;
}

#container {
    background-color: white;
    width: 8.5in;
    height: 11in;
    padding: 0.5in;
    margin-top: 0.5in;
    box-shadow: 0px 1px 2px gray;
}

.header {
    width: 100%;
}
.header tr td {
    vertical-align: top;
}
.header tr td:not(:first-child) {
    float: right;
    text-align: right;
}
.header table {
    float: right;
    text-align: left;
}
.header table td {
    padding-bottom: 0.125in;
}
.header span {
    font-size: 110%;
}

.data {
    width: 100%;
    border-collapse: collapse;
}
.data thead,
.data th,
.data td {
    border: 1px solid black;
    height: 0.3in;
}
.data thead {
    background-color: lightgray;
    text-align: center;
    vertical-align: center;
}
.data th,
.data td {
    width: 14.2857142857%;
}
.data th:first-child,
.data td:first-child {
    background-color: lightgray;
    padding-left: 8px;
}
.data th:nth-child(2),
.data td:nth-child(2) {
    text-align: center;
    vertical-align: center;
}

.fields {
    width: 103%;
}
.fields td {
    height: 0.5in;
}
.signatures {
    margin-top: -76px;
}
.signatures td {
    height: 0.5in;
    padding-right: 0.5in;
}

.underline {
    text-decoration: underline;
}

.overtimeRow > td {
    padding-top: 15px;
}

.clickable-field {
    cursor: pointer;
    background-color: lightgray;
}

.datepicker {
    visibility: hidden;
    position: absolute;
    top: -100%;
    left: -100%;
}
.two-weeks-button {
    -moz-appearance: none;
    -webkit-appearance: none;

    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;

    position: absolute;
    right: -1.25in;
    top: 1.05in;
    background-color: white;
    padding: 1rem;
    box-shadow: 0px 1px 2px gray;
    text-align: center;
}
.two-weeks-button .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 0.25rem;
}

.two-weeks-button button {
    -moz-appearance: none;
    -webkit-appearance: none;

    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: 100%;
    border: 1px solid white;
    transition-property: background-color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-weeks-button button svg {
    fill: currentColor;
}
.two-weeks-button button:hover {
    background-color: #eee;
    border-color: #eee;
}

@media print {
    @page {
        size: auto;
        margin-bottom: 5mm;
        margin-top: 5mm;
        margin: 0;
    }
    * {
        box-sizing: content-box;
        -webkit-print-color-adjust: exact;
    }
    body {
        background-color: white;
    }
    .wrapper {
        margin: 0;
    }
    #container {
        margin: 0;
        box-shadow: none;
    }
    .clickable-field {
        background-color: transparent;
    }
    .two-weeks-button {
        display: none;
    }
}
